<section class="container">

  <form [formGroup]="currenciesForm">

    <div>
      <label>Filter By:</label>
      <input formControlName="filterBy" (change)="filter()">
    </div>
    <div class="coin-table">
      <table class="table table-striped table-hover">

        <thead>
        <tr>
          <th>
            ردیف
          </th>

          <th >
            سیمبول
          </th>

          <th (click)="sort($event)" id="name">
            نام
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="24" viewBox="0 0 8 24" aria-labelledby="sort">
              <g transform="translate(-278 -3432)">
                <rect width="8" height="24" transform="translate(278 3432)" fill="rgba(0,0,0,0)"></rect>
                <path d="M280,3446.58v-5.17a1,1,0,0,1,1.71-.71l2.59,2.59a1,1,0,0,1,0,1.41l-2.59,2.59A1,1,0,0,1,280,3446.58Z" transform="translate(3725.998 3165.204) rotate(90)" fill="#A3A5A8"></path>
                <path d="M284.592,3446.58v-5.17a1,1,0,0,0-1.71-.71l-2.59,2.59a1,1,0,0,0,0,1.41l2.59,2.59A1,1,0,0,0,284.592,3446.58Z" transform="translate(3725.998 3158.204) rotate(90)"
                      fill="#A3A5A8"></path>
              </g>
            </svg>
          </th>

          <th  (click)="sort($event)" id="price">
            قمیت (Price)
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="24" viewBox="0 0 8 24" aria-labelledby="sort">
              <g transform="translate(-278 -3432)">
                <rect width="8" height="24" transform="translate(278 3432)" fill="rgba(0,0,0,0)"></rect>
                <path d="M280,3446.58v-5.17a1,1,0,0,1,1.71-.71l2.59,2.59a1,1,0,0,1,0,1.41l-2.59,2.59A1,1,0,0,1,280,3446.58Z" transform="translate(3725.998 3165.204) rotate(90)" fill="#000"></path>
                <path d="M284.592,3446.58v-5.17a1,1,0,0,0-1.71-.71l-2.59,2.59a1,1,0,0,0,0,1.41l2.59,2.59A1,1,0,0,0,284.592,3446.58Z" transform="translate(3725.998 3158.204) rotate(90)"
                      fill="#A3A5A8"></path>
              </g>
            </svg>
          </th>

          <th >
            درصد تغییرات 24 ساعت
          </th>
          <th (click)="sort($event)" id="market_cap">
            حجم بازار (Market Cap)
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="24" viewBox="0 0 8 24" aria-labelledby="sort">
              <g transform="translate(-278 -3432)">
                <rect width="8" height="24" transform="translate(278 3432)" fill="rgba(0,0,0,0)"></rect>
                <path d="M280,3446.58v-5.17a1,1,0,0,1,1.71-.71l2.59,2.59a1,1,0,0,1,0,1.41l-2.59,2.59A1,1,0,0,1,280,3446.58Z" transform="translate(3725.998 3165.204) rotate(90)" fill="#A3A5A8"></path>
                <path d="M284.592,3446.58v-5.17a1,1,0,0,0-1.71-.71l-2.59,2.59a1,1,0,0,0,0,1.41l2.59,2.59A1,1,0,0,0,284.592,3446.58Z" transform="translate(3725.998 3158.204) rotate(90)"
                      fill="#A3A5A8"></path>
              </g>
            </svg>
          </th>
          <th (click)="sort($event)" id="circulating_supply">
            عرضه در گردش (Circulating Supply)
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of itemsToDisplay ;let i = index; ">
          <td>
            {{i + 1}}
          </td>

          <td>
            <a>
              <div>
                {{item?.symbol}}
              </div>
            </a></td>

          <td>
            <a>
              <div>
                <div>
                  {{item?.name}}
                </div>
              </div>
            </a></td>
          <td>
            <div>
            <span dir="ltr">
              {{item?.quote?.USD?.price}}
              </span>
            </div>
          </td>
          <td>

            <div dir="ltr">
              {{item?.quote?.USD?.percent_change_24h}}
            </div>
          </td>
          <td>
          <span dir="ltr">
            <span>{{item?.quote?.USD?.market_cap}}</span>
            </span>
          </td>
          <td>
            <div>
              {{item?.circulating_supply}}
            </div>
          </td>
        </tr>
        </tbody>

      </table>


      <app-pagination
        [current]="current"
        [total]="total"
        (goTo)="onGoTo($event)"
        (next)="onNext($event)"
        (previous)="onPrevious($event)"
      ></app-pagination>
    </div>
  </form>
</section>


